<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57056011740-niamev2e2e211sg2vm0pf9n0a75v4uhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57056011740-niamev2e2e211sg2vm0pf9n0a75v4uhl</string>
	<key>API_KEY</key>
	<string>AIzaSyD9rGt_ndsjmSLrDJMMvS1SKK0-uwFbcTs</string>
	<key>GCM_SENDER_ID</key>
	<string>57056011740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samuel.AppCaixas</string>
	<key>PROJECT_ID</key>
	<string>appcaixas-2b900</string>
	<key>STORAGE_BUCKET</key>
	<string>appcaixas-2b900.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57056011740:ios:f0c5d5de760d35c0165b19</string>
</dict>
</plist>